.not-old-image { 
    height:100%;
}

.margin-fix {
    margin-top: 10vh;
    padding-left: 15vw;
}

.game-over { 
    margin-left: 33vw;
    padding-top: 20vh;
}

.game-over-text { 
    font-size: 4.5rem;
}

@media only screen and (max-width: 600px) {
    .not-old-image { 
        width:100vw;
        height:60vh;
    }

    .game-over{
        margin-left:45vw;
    }
}