.cust-img { 
    
    height:100vh;
}

.png-effect { 
    filter: contrast(160%);
}


@media only screen and (max-width: 600px) {
    .header-container{
        display: none;
        visibility: hidden;
    }
    .cust-img { 
        margin-top:4vh;
        width:15vw;
        height:15vh;
    }
}

